In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('spam.csv',encoding='windows-1252')

In [4]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5500,ham,Love has one law; Make happy the person you lo...,NaN,NaN,NaN
4570,ham,\CHA QUITEAMUZING THATåÕSCOOL BABE,PROBPOP IN & CU SATTHEN HUNNY 4BREKKIE! LOVE J...,NaN,NaN
4742,ham,I am in hospital da. . I will return home in e...,NaN,NaN,NaN
512,ham,Lol ok your forgiven :),NaN,NaN,NaN
873,ham,Ugh its been a long day. I'm exhausted. Just w...,NaN,NaN,NaN

In [5]:
df.shape

(5572, 5)

1. Data Cleaning
2. EDA (Exploratory data analysis)
3. Text Preprocessing
4. Model Building
5. Evaluation
6. Improvement

# 1. Data Cleaning

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [ ]:
# Drop last 3 cols

In [ ]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [13]:
df.sample(5)

       v1                                                 v2
288   ham  My life Means a lot to me, Not because I love ...
1270  ham  Sorry chikku, my cell got some problem thts y ...
3298  ham  Honeybee Said: *I'm d Sweetest in d World* God...
566   ham      Oooh bed ridden ey? What are YOU thinking of?
4924  ham             Ok... Let u noe when i leave my house.

In [14]:
# Renaming the Columns
df.rename(columns={'v1':'target','v2':'text'},inplace=True)

In [15]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [16]:
# Provide Labeling to 2 classes 
df['target']=encoder.fit_transform(df['target'])

In [17]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [21]:
# Check for Missing Values
df.isnull().sum()

target    0
text      0
dtype: int64

In [22]:
# Check for Duplicate values
df.duplicated().sum()

403

In [23]:
# Remove Duplicates
df=df.drop_duplicates(keep='first')

In [24]:
df.shape

(5169, 2)

# 2. EDA