In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('spam.csv',encoding='windows-1252')

In [4]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5500,ham,Love has one law; Make happy the person you lo...,NaN,NaN,NaN
4570,ham,\CHA QUITEAMUZING THATåÕSCOOL BABE,PROBPOP IN & CU SATTHEN HUNNY 4BREKKIE! LOVE J...,NaN,NaN
4742,ham,I am in hospital da. . I will return home in e...,NaN,NaN,NaN
512,ham,Lol ok your forgiven :),NaN,NaN,NaN
873,ham,Ugh its been a long day. I'm exhausted. Just w...,NaN,NaN,NaN

In [5]:
df.shape

(5572, 5)

1. Data Cleaning
2. EDA (Exploratory data analysis)
3. Text Preprocessing
4. Model Building
5. Evaluation
6. Improvement